body{
    height: 100vh;
    width: 100;
}
.um{
    display: flex;
    height: calc(100vh - 70vh);
    margin: 5px 5px 5px 5px;
}
.dois{
    display: flex;
    height: calc(100vh - 40vh);
    margin: 5px 5px 5px 5px;
    
}
.tres{
    display: flex;
    height: calc(100vh - 90vh);
    margin: 5px 5px 5px 5px;
}

.caixa1{
    flex: 1;
    height: calc(100vh - 70vh);
    max-width: 100%;
    background-color:  pink;
    margin: 5px 5px 5px 5px;
   
}

.caixa2{
    flex: 1;
    height: calc(100vh - 40vh);
    max-width: 50vh;
    background-color: lightblue;
    margin: 5px 5px 5px 5px;
    
}

.caixa3{
    flex: 1;
    height: calc(100vh - 40vh);
    max-width: 100vh;
    background-color: lightblue;
    margin: 5px 5px 5px 5px;
}

.caixa4{
    flex: 1;
    height: calc(100vh - 90vh);
    max-width: 100vh;
    margin: 5px 5px 5px 5px;
    background-color: pink;

}

.caixa5{
    flex: 1;
    height: calc(100vh - 90vh);
    max-width: 100vh;
    background-color: pink;
    margin: 5px 5px 5px 5px; 
}
